@mixin typography($font-family, $font-weight, $font-size, $font-style: _, $line-height: _, $letter-spacing: _, $text-align: _) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  font-style: $font-style;
  leading-trim: NONE;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
}

@mixin flex($justify-content, $align-items: _, $gap: _, $flex-wrap: _, $flex-direction: _) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $flex-wrap;
  flex-direction: $flex-direction;
}

@mixin tablet() {
  @media screen and (min-width: 830px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
