@use "../../scss/utils/mixins.scss" as *;
@use "../../scss/utils/variables.scss" as *;

.hero {
  padding: 50px 0 100px 0;
  background-image: $overlay, url("../../images/hero/bg-6@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @include typography(Montserrat, 600, 14px);
    margin-bottom: 35px;
    color: $secondaryTextColor;
  }
  &__form {
    position: relative;
    display: flex;
    gap: 5px;
  }
  &__input {
    @include typography(Montserrat, 500, 6px);
    border-radius: 8px;
    padding: 4px 10px;
    width: 150px;
    border: none;
    transition: $ts;
  }
  &__input:focus {
    outline: 3px solid $accentColor;
  }
  &__input.error {
    outline: 3px solid $likeColor;
  }
  &__btn {
    background-color: $accentColor;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 4px 10px;
    border: 1px solid $accentColor;
    transition: $ts;
  }
  &__btn:hover {
    background-color: transparent;
  }
  &__btn svg {
    color: $mainBgColor;
  }
  &__error {
    position: absolute;
    top: 120%;
    left: 12px;
    color: $likeColor;
  }
}

@include tablet {
  .hero {
    background-image: $overlay, url("../../images/hero/bg-6@1x.jpg");
    padding: 40px 0;
    &__title {
      @include typography(Montserrat, 600, 20px);
      margin-bottom: 40px;
    }
    &__form {
      gap: 10px;
    }
    &__input {
      @include typography(Montserrat, 500, 10px);
      width: 450px;
      padding: 12px 30px;
    }
    &__btn {
      padding: 12px 30px;
    }
    &__btn svg {
      width: 16px;
      height: 16px;
      color: $mainBgColor;
    }
  }
}

@include desktop() {
  .hero {
    background-image: $overlay, url("../../images/hero/bg-6@1x.jpg");

    padding: 100px 0;
    &__title {
      @include typography(Montserrat, 600, 40px);
      margin-bottom: 80px;
    }
    &__input {
      @include typography(Montserrat, 500, 14px);
    }
    &__btn svg {
      width: 25px;
      height: 25px;
      color: $mainBgColor;
    }
  }
}
