@use "../../scss/utils/mixins.scss" as *;
@use "../../scss/utils/variables.scss" as *;

.hero {
  padding: 50px 0 100px 0;
  background-image: $overlay, url("../../images/hero/bg-6@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @include typography(Montserrat, 600, 14px);
    margin-bottom: 35px;
    color: $secondaryTextColor;
  }
  &__form {
    display: flex;
    gap: 10px;
  }
  &__input {
    @include typography(Montserrat, 500, 6px);
    border-radius: 8px;
    padding: 12px 30px;
    border: none;
    transition: $ts;
  }
  &__input:focus {
    outline: 3px solid $accentColor;
  }
  &__btn {
    background-color: $accentColor;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 30px;
    border: 1px solid $accentColor;
    transition: $ts;
  }
  &__btn:hover {
    background-color: transparent;
  }
  &__btn svg {
    color: $mainBgColor;
  }
}

@include tablet {
  .hero {
    background-image: $overlay, url("../../images/hero/bg-6@1x.jpg");
    padding: 40px 0;
    &__title {
      @include typography(Montserrat, 600, 20px);
      margin-bottom: 40px;
    }
    &__input {
      @include typography(Montserrat, 500, 10px);
      width: 450px;
    }
    &__btn svg {
      width: 16px;
      height: 16px;
      color: $mainBgColor;
    }
  }
  // @supports (background-image: $overlay, url("../../images/hero/bg-6@1x.webp")) {
  //   .hero {
  //     background-image: $overlay, url("../../images/hero/bg-6@1x.webp");
  //     background-size: cover;
  //   }
  // }
  // @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   .hero {
  //     background-image: $overlay, url("../../images/hero/bg-6@1x.png");
  //     background-size: cover;
  //   }
  //   @supports (background-image: $overlay, url("../../images/hero/bg-6@1x.webp")) {
  //     .hero {
  //       background-image: $overlay, url("../../images/hero/bg-6@1x.webp");
  //       background-size: cover;
  //     }
  //   }
  // }
}

@include desktop() {
  .hero {
    background-image: $overlay, url("../../images/hero/bg-6@1x.jpg");

    padding: 100px 0;
    &__title {
      @include typography(Montserrat, 600, 40px);
      margin-bottom: 80px;
    }
    &__input {
      @include typography(Montserrat, 500, 14px);
    }
    &__btn svg {
      width: 25px;
      height: 25px;
      color: $mainBgColor;
    }
  }
  // @supports (background-image: $overlay, url("../../images/hero/bg-desktop@1x.webp")) {
  //   .hero {
  //     background-image: $overlay, url("../../images/hero/bg-desktop@1x.webp");
  //     background-size: cover;
  //   }
  // }
  // @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   .hero {
  //     background-image: $overlay, url("../../images/hero/bg-desktop@2x.png");
  //     background-size: cover;
  //   }
  //   @supports (background-image: $overlay, url("../../images/hero/bg-desktop@2x.webp")) {
  //     .hero {
  //       background-image: $overlay, url("../../images/hero/bg-desktop@2x.webp");
  //       background-size: cover;
  //     }
  //   }
  // }
}
