@import '../../scss/utils/mixins.scss';
.container {
  min-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include tab() {
    min-width: 830px;
    max-width: 830px;
  }
  @include desk() {
    min-width: 1440px;
    max-width: 1440px;
  }
}
