*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
